In [18]:
import pandas as pd

# Create a DataFrame with Pokémon names and their HP
df = pd.DataFrame({
    'pokemon': [
        "Bulbasaur", "Ivysaur", "Venusaur", "Charmander", "Charmeleon", 
        "Charizard", "Squirtle", "Wartortle", "Blastoise", "Caterpie", 
        "Metapod", "Butterfree", "Weedle", "Kakuna", "Beedrill", 
        "Pidgey", "Pidgeotto", "Pidgeot", "Rattata", "Raticate",
        "Spearow", "Fearow", "Ekans", "Arbok", "Pikachu", 
        "Raichu", "Sandshrew", "Sandslash", "Nidoran♀", "Nidorina", 
        "Nidoqueen", "Nidoran♂", "Nidorino", "Nidoking", "Clefairy",
        "Clefable", "Vulpix", "Ninetales", "Jigglypuff", "Wigglytuff",
        "Zubat", "Golbat", "Oddish", "Gloom", "Vileplume",
        "Paras", "Parasect", "Venonat", "Venomoth", "Diglett"
    ],
    'hp': [
        45, 60, 80, 39, 58, 
        78, 44, 59, 79, 45, 
        50, 60, 40, 45, 65, 
        40, 63, 83, 30, 55,
        40, 65, 35, 60, 35, 
        60, 50, 75, 55, 70, 
        90, 46, 61, 81, 70, 
        95, 38, 73, 115, 140,
        40, 75, 45, 60, 75, 
        35, 60, 60, 70, 10
    ]
})

In [19]:
df

       pokemon   hp
0    Bulbasaur   45
1      Ivysaur   60
2     Venusaur   80
3   Charmander   39
4   Charmeleon   58
5    Charizard   78
6     Squirtle   44
7    Wartortle   59
8    Blastoise   79
9     Caterpie   45
10     Metapod   50
11  Butterfree   60
12      Weedle   40
13      Kakuna   45
14    Beedrill   65
15      Pidgey   40
16   Pidgeotto   63
17     Pidgeot   83
18     Rattata   30
19    Raticate   55
20     Spearow   40
21      Fearow   65
22       Ekans   35
23       Arbok   60
24     Pikachu   35
25      Raichu   60
26   Sandshrew   50
27   Sandslash   75
28    Nidoran♀   55
29    Nidorina   70
30   Nidoqueen   90
31    Nidoran♂   46
32    Nidorino   61
33    Nidoking   81
34    Clefairy   70
35    Clefable   95
36      Vulpix   38
37   Ninetales   73
38  Jigglypuff  115
39  Wigglytuff  140
40       Zubat   40
41      Golbat   75
42      Oddish   45
43       Gloom   60
44   Vileplume   75
45       Paras   35
46    Parasect   60
47     Venonat   60
48    Venomoth   70
49     Diglett   10

In [22]:
# average hp
mean_hp = df['hp'].mean()
print(float(mean_hp))

60.04

In [23]:
# median
median_hp = df['hp'].median()
print(float(median_hp))

60.0

In [25]:
# mode
mode_hp = df['hp'].mode()
print(float(mode_hp))

60.0

/var/folders/b1/xd04r8_x6dx32sk_5zz0tdn40000gn/T/ipykernel_775/1769524365.py:3: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  print(float(mode_hp))

In [26]:
df.to_csv('pokemon.csv')

In [28]:
pokemon = pd.read_csv('pokemon.csv')
pokemon

    Unnamed: 0     pokemon   hp
0            0   Bulbasaur   45
1            1     Ivysaur   60
2            2    Venusaur   80
3            3  Charmander   39
4            4  Charmeleon   58
5            5   Charizard   78
6            6    Squirtle   44
7            7   Wartortle   59
8            8   Blastoise   79
9            9    Caterpie   45
10          10     Metapod   50
11          11  Butterfree   60
12          12      Weedle   40
13          13      Kakuna   45
14          14    Beedrill   65
15          15      Pidgey   40
16          16   Pidgeotto   63
17          17     Pidgeot   83
18          18     Rattata   30
19          19    Raticate   55
20          20     Spearow   40
21          21      Fearow   65
22          22       Ekans   35
23          23       Arbok   60
24          24     Pikachu   35
25          25      Raichu   60
26          26   Sandshrew   50
27          27   Sandslash   75
28          28    Nidoran♀   55
29          29    Nidorina   70
30          30   Nidoqueen   90
31          31    Nidoran♂   46
32          32    Nidorino   61
33          33    Nidoking   81
34          34    Clefairy   70
35          35    Clefable   95
36          36      Vulpix   38
37          37   Ninetales   73
38          38  Jigglypuff  115
39          39  Wigglytuff  140
40          40       Zubat   40
41          41      Golbat   75
42          42      Oddish   45
43          43       Gloom   60
44          44   Vileplume   75
45          45       Paras   35
46          46    Parasect   60
47          47     Venonat   60
48          48    Venomoth   70
49          49     Diglett   10

In [30]:
# single criteria filtering
pokemon[pokemon['hp'] > 60]

    Unnamed: 0     pokemon   hp
2            2    Venusaur   80
5            5   Charizard   78
8            8   Blastoise   79
14          14    Beedrill   65
16          16   Pidgeotto   63
17          17     Pidgeot   83
21          21      Fearow   65
27          27   Sandslash   75
29          29    Nidorina   70
30          30   Nidoqueen   90
32          32    Nidorino   61
33          33    Nidoking   81
34          34    Clefairy   70
35          35    Clefable   95
37          37   Ninetales   73
38          38  Jigglypuff  115
39          39  Wigglytuff  140
41          41      Golbat   75
44          44   Vileplume   75
48          48    Venomoth   70

In [32]:
# getting info
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  50 non-null     int64
 1   pokemon     50 non-null     object
 2   hp          50 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.3+ KB

In [33]:
# describe
pokemon.describe()

       Unnamed: 0          hp
count    50.00000   50.000000
mean     24.50000   60.040000
std      14.57738   22.230665
min       0.00000   10.000000
25%      12.25000   45.000000
50%      24.50000   60.000000
75%      36.75000   72.250000
max      49.00000  140.000000

In [34]:
# sorting
pokemon.sort_values(by = 'hp')

    Unnamed: 0     pokemon   hp
49          49     Diglett   10
18          18     Rattata   30
45          45       Paras   35
22          22       Ekans   35
24          24     Pikachu   35
36          36      Vulpix   38
3            3  Charmander   39
40          40       Zubat   40
20          20     Spearow   40
15          15      Pidgey   40
12          12      Weedle   40
6            6    Squirtle   44
42          42      Oddish   45
0            0   Bulbasaur   45
9            9    Caterpie   45
13          13      Kakuna   45
31          31    Nidoran♂   46
26          26   Sandshrew   50
10          10     Metapod   50
19          19    Raticate   55
28          28    Nidoran♀   55
4            4  Charmeleon   58
7            7   Wartortle   59
47          47     Venonat   60
43          43       Gloom   60
1            1     Ivysaur   60
23          23       Arbok   60
46          46    Parasect   60
11          11  Butterfree   60
25          25      Raichu   60
32          32    Nidorino   61
16          16   Pidgeotto   63
21          21      Fearow   65
14          14    Beedrill   65
48          48    Venomoth   70
29          29    Nidorina   70
34          34    Clefairy   70
37          37   Ninetales   73
41          41      Golbat   75
44          44   Vileplume   75
27          27   Sandslash   75
5            5   Charizard   78
8            8   Blastoise   79
2            2    Venusaur   80
33          33    Nidoking   81
17          17     Pidgeot   83
30          30   Nidoqueen   90
35          35    Clefable   95
38          38  Jigglypuff  115
39          39  Wigglytuff  140

In [36]:
# descending order
pokemon.sort_values(by = 'hp', ascending=False)

    Unnamed: 0     pokemon   hp
39          39  Wigglytuff  140
38          38  Jigglypuff  115
35          35    Clefable   95
30          30   Nidoqueen   90
17          17     Pidgeot   83
33          33    Nidoking   81
2            2    Venusaur   80
8            8   Blastoise   79
5            5   Charizard   78
27          27   Sandslash   75
44          44   Vileplume   75
41          41      Golbat   75
37          37   Ninetales   73
29          29    Nidorina   70
34          34    Clefairy   70
48          48    Venomoth   70
14          14    Beedrill   65
21          21      Fearow   65
16          16   Pidgeotto   63
32          32    Nidorino   61
1            1     Ivysaur   60
46          46    Parasect   60
47          47     Venonat   60
25          25      Raichu   60
23          23       Arbok   60
11          11  Butterfree   60
43          43       Gloom   60
7            7   Wartortle   59
4            4  Charmeleon   58
28          28    Nidoran♀   55
19          19    Raticate   55
10          10     Metapod   50
26          26   Sandshrew   50
31          31    Nidoran♂   46
42          42      Oddish   45
0            0   Bulbasaur   45
13          13      Kakuna   45
9            9    Caterpie   45
6            6    Squirtle   44
20          20     Spearow   40
40          40       Zubat   40
15          15      Pidgey   40
12          12      Weedle   40
3            3  Charmander   39
36          36      Vulpix   38
24          24     Pikachu   35
22          22       Ekans   35
45          45       Paras   35
18          18     Rattata   30
49          49     Diglett   10

In [38]:
# locating a record
# locating a specific record by pokemon
Charizard_record = df.loc[df['pokemon'] == 'Charizard']
print(Charizard_record)

# locating multiple records
# locating based on filtering a value
high_rating = df.loc[df['hp'] > 70]
print(high_rating)

# locate using multiple conditions
starter_pack = df.loc[(df['pokemon'] == 'Pikachu') | (df['hp'] < 40)]
print(starter_pack)

# locate by index
seventh_row = df.iloc[8]
print(seventh_row)

     pokemon  hp
5  Charizard  78
       pokemon   hp
2     Venusaur   80
5    Charizard   78
8    Blastoise   79
17     Pidgeot   83
27   Sandslash   75
30   Nidoqueen   90
33    Nidoking   81
35    Clefable   95
37   Ninetales   73
38  Jigglypuff  115
39  Wigglytuff  140
41      Golbat   75
44   Vileplume   75
       pokemon  hp
3   Charmander  39
18     Rattata  30
22       Ekans  35
24     Pikachu  35
36      Vulpix  38
45       Paras  35
49     Diglett  10
pokemon    Blastoise
hp                79
Name: 8, dtype: object

In [43]:
# lambda function

import pandas as pd

# Create a DataFrame with Pokémon names and their HP
df = pd.DataFrame({
    'pokemon': [
        "Bulbasaur", "Ivysaur", "Venusaur", "Charmander", "Charmeleon", 
        "Charizard", "Squirtle", "Wartortle", "Blastoise", "Caterpie", 
        "Metapod", "Butterfree", "Weedle", "Kakuna", "Beedrill", 
        "Pidgey", "Pidgeotto", "Pidgeot", "Rattata", "Raticate",
        "Spearow", "Fearow", "Ekans", "Arbok", "Pikachu", 
        "Raichu", "Sandshrew", "Sandslash", "Nidoran♀", "Nidorina", 
        "Nidoqueen", "Nidoran♂", "Nidorino", "Nidoking", "Clefairy",
        "Clefable", "Vulpix", "Ninetales", "Jigglypuff", "Wigglytuff",
        "Zubat", "Golbat", "Oddish", "Gloom", "Vileplume",
        "Paras", "Parasect", "Venonat", "Venomoth", "Diglett"
    ],
    'hp': [
        45, 60, 80, 39, 58, 
        78, 44, 59, 79, 45, 
        50, 60, 40, 45, 65, 
        40, 63, 83, 30, 55,
        40, 65, 35, 60, 35, 
        60, 50, 75, 55, 70, 
        90, 46, 61, 81, 70, 
        95, 38, 73, 115, 140,
        40, 75, 45, 60, 75, 
        35, 60, 60, 70, 10
    ]
})

df['evolved_hp'] = df['hp'].apply(lambda x: x + 10 if x < 30 else x)
df

       pokemon   hp  evolved_hp
0    Bulbasaur   45          45
1      Ivysaur   60          60
2     Venusaur   80          80
3   Charmander   39          39
4   Charmeleon   58          58
5    Charizard   78          78
6     Squirtle   44          44
7    Wartortle   59          59
8    Blastoise   79          79
9     Caterpie   45          45
10     Metapod   50          50
11  Butterfree   60          60
12      Weedle   40          40
13      Kakuna   45          45
14    Beedrill   65          65
15      Pidgey   40          40
16   Pidgeotto   63          63
17     Pidgeot   83          83
18     Rattata   30          30
19    Raticate   55          55
20     Spearow   40          40
21      Fearow   65          65
22       Ekans   35          35
23       Arbok   60          60
24     Pikachu   35          35
25      Raichu   60          60
26   Sandshrew   50          50
27   Sandslash   75          75
28    Nidoran♀   55          55
29    Nidorina   70          70
30   Nidoqueen   90          90
31    Nidoran♂   46          46
32    Nidorino   61          61
33    Nidoking   81          81
34    Clefairy   70          70
35    Clefable   95          95
36      Vulpix   38          38
37   Ninetales   73          73
38  Jigglypuff  115         115
39  Wigglytuff  140         140
40       Zubat   40          40
41      Golbat   75          75
42      Oddish   45          45
43       Gloom   60          60
44   Vileplume   75          75
45       Paras   35          35
46    Parasect   60          60
47     Venonat   60          60
48    Venomoth   70          70
49     Diglett   10          20